.body{
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;

}

.loginform{
    padding: 15px 25px;
}


mat-card{
    width: 300px;
    margin: auto;
    padding: 0;
}
.button-group{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.page-container{
    display: flex;
    justify-content: center;
    height: 100%;
}
.fancy-column{
    padding: 10px;
    border-radius: 4px 4px 0 0;

}

.register-group{
    margin-top: 20px;
}

.register-link{
    display: flex;
    justify-content: flex-end;
    width: 100%;

   
}