<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

<body class="body"> 
<div class="container">




    <div class="fictionsClass">
        <label style="font-size:large;">All fictions</label>
        <table>
         <th style="text-align: center;">Title</th>
                <th style="text-align: center;">Author</th>
                <th style="text-align: center;">Amount of Chapters</th>
            
         
                <tr *ngFor="let fiction of fictons">
                    <td ><a [routerLink]= "['/fiction', fiction.id]">{{fiction.title}} </a> </td>
                    <td>{{fiction.author}}</td>
                    <td>{{fiction.amountOfChapters}}</td>
                </tr>
         
        </table>
    </div>
    </div>

</body>
    
    <!-- <div class="randomStories" > 
        <span class="spacer">Random stories</span>      
     
     <div class="centering">
        <div class="randomStory"> 
        <h2 class="randomTitle">Title card</h2>
        <img class="mySlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
    </div>
    <div class="randomStory"> 
        <h2 class="randomTitle">Title card</h2>
        <img class="mySlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
    </div>
    <div class="randomStory"> 
        <h2 class="randomTitle">Title card</h2>
        <img class="mySlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
    </div>
</div>
      </div>
      

     
   
<div class="infoStories">
    
    <div class="recentStories" > 
        <span class="recentSpacer">Recently updated stories</span>      
        <br>
        <div class="recentStory"> 
       <h2 class="recentTitle">Title card</h2>
        <img class="recentSlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
        <br>
    </div>
    <div class="recentStory"> 
        <h2 class="recentTitle">Title card</h2>
         <img class="recentSlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
         <br>
     </div>
     <div class="recentStory"> 
        <h2 class="recentTitle">Title card</h2>
         <img class="recentSlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
         <br>
     </div>
    </div>

    <div class="updatedStories" > 
        <span class="recentSpacer">Populaire stories</span>      
        <br>
        <div class="recentStory"> 
       <h2 class="recentTitle">Title card</h2>
        <img class="recentSlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
        <br>
    </div>
    <div class="recentStory"> 
        <h2 class="recentTitle">Title card</h2>
         <img class="recentSlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
         <br>
     </div>
     <div class="recentStory"> 
        <h2 class="recentTitle">Title card</h2>
         <img class="recentSlides" src="https://cdna.artstation.com/p/assets/images/images/017/987/916/large/adam-burn-concept-3.jpg?1558094037" >
         <br>
     </div>
    </div>
    </div>
       -->
 
